#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.left1 {
  background-color: blue;
}

.left2 {
  background-color: blue;
}

.right3 {
  background-color: red;
}

.right4 {
  background-color: red;
}

#cort {
  width: 400px;
  height: 200px;
  border: 5px solid white;
    margin-left: auto;
  margin-right: auto;
}

tr,
td {
  border: 5px solid white;
}

.score {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 30px;
    margin-left: auto;
  margin-right: auto;
}

.left_score {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: blue;

  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.right_score {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: red;
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.serve {
  border: 5px solid white;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.tnsr{
  border: 5px solid white;
  margin-bottom: 10px;
  width: 400px;
}

#serveB {
  background-color: #a0a0a0;
  margin-right: 20px;
  width: 150px;
  height: 50px;
}

#serveR {
  background-color: #a0a0a0;
  margin-left: 20px;
  width: 150px;
  height: 50px;
}

.con_right3 {
  background-color: red;
}

.con_right4 {
  background-color: red;
}
#tn{
  font-size: 20px;
}
#due{
  border: 5px solid white;
  margin-top: 10px;
  font-size: 20px;
  display: none;
}
.git_l{
  margin-top: 20px;
}